<div id="<%= dom_id book %>">
  <div>
    <strong>Title:</strong>
    <%= book.title %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= book.author %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= book.status %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= book.rating %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= book.notes %>
  </div>

  <div>
    <strong>Started on:</strong>
    <%= book.started_on %>
  </div>

  <div>
    <strong>Finished on:</strong>
    <%= book.finished_on %>
  </div>

</div>
